<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/header.ejs") %>
        <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
        <script type="text/javascript" src="validator.min.js"></script>

</head>

<body>
    <main>
        <h1>Profile page</h1>

        <script>
            function init() {
                gapi.load('auth2', function () {
                    /* Ready. Make a call to gapi.auth2.init or some other API */
                });

            }
        </script>

        <a href="#" onclick="signOut();">Sign out</a>
        <script>
            function signOut() {
                gapi.auth2.init({
                    client_id: '931638414558-j7n73fhlap5mo2euigehbuguo40vka0j.apps.googleusercontent.com'
                }).then(() => {
                    var auth2 = gapi.auth2.getAuthInstance();
                    auth2.signOut().then(() => {
                        document.location.href = "/logout";
                    })
                })
            }
        </script>

        <h1>Hi, <%= email %>!
        </h1>


        <h1>Settings</h1>
        <form action="/profile" method="POST">

            <input type="hidden" name="_csrf" value="<%= csrftoken %>">

            <label for="phoneNumber">Your phone number:</label><br>
            <input type="text" id="phoneNumber" name="phoneNumber" value="<%-user.phoneNumber%>""><br>

            <label for=" highValue">Upper BG limit:</label><br>
            <input type="text" id="highValue" name="highValue" value="<%-user.highValue%>""><br>

            <label for=" lowValue">Lower BG limit:</label><br>
            <input type="text" id="lowValue" name="lowValue" value="<%-user.lowValue%>""><br>

            <label for=" ECphoneNumber">Emergency Contact Phone Number:</label><br>
            <input type="text" id="ECphoneNumber" name="ECphoneNumber" value="<%-user.ECphoneNumber %>""><br>

            <label for=" textECAfter">how long to wait for a response before texting your emergency
            contacts</label><br>
            <input type="text" id="textECAfter" name="textECAfter" value="<%-user.textECAfter%>""><br>

            <label for=" userOkSnooze">how long to wait to wait before checking on you again</label><br>
            <input type="text" id="userOkSnooze" name="userOkSnooze" value="<%-user.userOkSnooze%>""><br>

            <label for=" userDataSource">your NS link</label><br>
            <input type="text" id="userDataSource" name="userDataSource" value="<%-user.userDataSource%>""><br>

            <button type=" submit">submit</button>

        </form>

    </main>

    <%- include("./partials/footer.ejs") %>
</body>

</html>